.mat-accordion .mat-expansion-panel{
  margin-bottom: 10px;
}
.example-action-buttons {
  padding-bottom: 20px;
}
.accTable {
  width: 12200px;
  border:solid;
  background-color:white;
}
mat-panel-title {
 font-weight: bold;
 width: 130px;
}
mat-panel-description {
  width: 130px;
 }
mat-expansion-panel{
  background-color: white;
}
table td {
  border:solid;
  border-width: thin;
  padding:0px 30px 0px 30px; /* top right bottom left */

}
table {
  border-collapse: separate;

}
.small {
  width:100px;
}
.large {
  width:400px;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  color:red;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:red;

}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.wide {
  width:40%;
}

.my-custom-class {
    font-size: 18pt;
  }
  .matPlan {
    height:100%;
  }
  .myHeading{
    font-size: 18pt;
    text-align: center;
  }
  .pClassX {
    color:blue;
    background: green !important;
  }
  .pBold {
    font-weight:bold;
  }
  .redClass {
    background-color: rgb(236, 95, 76);
  }
  .orangeClass {
    background-color: orange !important;
  }
  .greyClass {
    background-color: rgb(140, 183, 179);
  }
  #container {
    height: 90%;
    overflow: hidden;
    width: 90%;
  }
  
  #inner {
    overflow: hidden;
    width: 1500px;
    height: 90%;
    border: solid;
  }
  .chTable {
    float: left;
    width: 240px;
    height: 90%;
    border:solid;
    text-align: left;
  }
  .child {
    float: left;
    width: 140px;
    height: 90%;
    text-align: left;
  }
  .unitNumber{
    float: left;
    width: 140px;
    height: 90%;
    font-weight: bold;
    text-align: center;
  }
  .patName{
    float: left;
    width: 140px;
    height: 50px;
    font-weight: bold;
    text-align: center;
  }
  .greenClass {
    float: left;
    background-color: green;
    width: 80px;
    height: 90%;
  }
  .TrueBeam {
    background-color: green;
    width:100px;  
  } 
  .Agility {
    background-color: rgb(207, 71, 207);
    width:100px;
  }  
  .purpleClass {
    float: left;
    background-color:;
    width: 80px;
    height:90%;
  }
  .IMRTClass {
    float: left;
    background-color:green;
    width: 140px;

  }
  .PhysicsClass {
    float: left;
    background-color:rgb(191, 111, 244);
    width: 140px;
  }
  .TPClass {
    float: left;
    background-color:pink;
    width: 140px;
  }
  .PWUClass {
    float: left;
    background-color: rgb(114, 148, 229);
    width: 140px;
  }
  .RFMDClass {
    float: left;
    background-color:rgb(238, 255, 0);
    width: 140px;
  }
  .MdAPClass {
    float: left;
    background-color:rgb(123, 255, 0);
    width: 140px;
  }
  .CnPClass {
    float: left;
    background-color:rgba(255, 136, 0, 0.786);
    width: 140px;
  }
  .PreTClass {
    float: left;
    background-color:rgba(175, 100, 15, 0.786);
    width: 140px;
  }

