.my-custom-class {
    font-size: 18pt;
  }
  .myHeading{
    font-size: 18pt;
    text-align: center;
  }
  .pClassX {
    color:blue;
    background: green !important;
  }
  .pBold {
    font-weight:bold;
  }
  .redClass {
    background-color: pink;
  }
  .orangeClass {
    background-color: orange !important;
  }
  .greyClass {
    background-attachment: grey;
  }