
<mat-tab-group  (selectedTabChange) ="setPlansShown($event)" animationDuration="0ms">
  <mat-tab label="Main" >
    <ng-template mat-tab-label> <span class="my-custom-class">Main QA page</span></ng-template>
    <span class="myHeading"> Plans Needing QA {{ tabIndex }}</span>
  </mat-tab>
  <mat-tab label="Ready" >
    <ng-template mat-tab-label>
       <span class="my-custom-class">Ready For QA {{ tabIndex }} </span></ng-template>
    test
  </mat-tab>
  <mat-tab label="DosimComplete" >
    <ng-template mat-tab-label> <span class="my-custom-class">Dosimetry Complete</span></ng-template>
    test
  </mat-tab>

  <mat-tab label="White Board Home">Content 3</mat-tab>
</mat-tab-group>

<div *ngIf = "f3Plans">

<mat-accordion *ngFor = "let aPlan of f3Plans; let j = index" >  
  <span *ngIf = "aPlan[0]"> plans Starting on  {{ aPlan[0].StartDate }} </span>
  <mat-expansion-panel *ngFor="let plan of aPlan; let i = index" hideToggle [ngClass]="plan['bgClass']" >

      <mat-expansion-panel-header collapsedHeight="80px"  expandedHeight="156px"> 
        <mat-panel-title [ngClass]="plan['linacClass']">
          {{ plan['linac'] }} 
        </mat-panel-title>
        <mat-panel-title>
          {{ plan['UnitNumber'] }}
        </mat-panel-title>
        <mat-panel-title>
        {{ plan['PatientInfo']['LastName']}} 
        </mat-panel-title>
        <mat-panel-description >
         {{ plan['PhysName'] }}
        </mat-panel-description>
        <mat-panel-description>
       {{ plan['MDname'] }}
        </mat-panel-description>
        <mat-panel-description [ngClass]="plan['statClass']">
        {{ plan['status']}} 
        </mat-panel-description>
        <mat-panel-description>
          {{ plan['PlanNo'] }}
           </mat-panel-description>
         <mat-panel-description>
            {{ plan['siteDesc'] }}
            </mat-panel-description>   
        <mat-panel-description class='wide'>
          <table>
            <tr>
              <td  *ngIf = "plan['Fields_Deliveres'] "> Fields Delivered</td>
              <td *ngIf = "plan['FromQA_Params'] " > {{ plan['Meas_Type']}}</td>
              <td *ngIf = "plan['FromQA_Params']"> PC:{{plan['FromQA_Params']['PlanCheck']}}%</td>
            </tr>
            </table>
          </mat-panel-description>
          <mat-panel-description >
            <mat-checkbox *ngIf = "plan['FromQA_Params'] &&  plan['FromQA_Params']['PlanCheck']  "
            (click)="$event.stopPropagation();"
            (change)="setQAComplete($event.checked)"
            >Complete QA
          </mat-checkbox>
            </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description class='wide'>
     
        </mat-panel-description>
        <mat-panel-description class='wide'>
       
          </mat-panel-description>
        <mat-panel-description class='wide'>
          <table class='accTable'>
            <tr>
              <td>
                <mat-form-field class="small" appearance="fill">
                  <mat-label>Plan Idx.</mat-label>
                  <input [readonly]= true matInput placeholder="Ex. Pizza" [value]="plan['planIdx']">
                </mat-form-field>
              </td>
              <td>
              <mat-checkbox
              (click)="$event.stopPropagation();"
              (change)="setQAComplete($event.checked)"
              > Fields Delivered
            </mat-checkbox>
            </td>
             <td>
              <form class="small">
                <mat-form-field class="small" appearance="fill">
                  <mat-label>QA Type</mat-label>
                  <select matNativeControl required>
                    <option value="mobius">Mobius</option>
                    <option value="Arc Check">Arc Check </option>
                    <option value="matrix">matrix</option>
                  </select>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="example-form">
                <mat-form-field class="small" appearance="fill">
                  <mat-label>Plan Check </mat-label>
                  <textarea matInput ></textarea>
                </mat-form-field>
              </form>
            </td>
          
              <td>
                <form class="example-form">
                  <mat-form-field class="small" appearance="fill">
                    <mat-label>QA Check </mat-label>
                    <textarea matInput ></textarea>
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="small" appearance="fill">
                    <mat-label>Difference</mat-label>
                    <textarea matInput [readonly]= true ></textarea>
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form class="small">
                  <mat-form-field class="small" appearance="fill">
                    <mat-label>Result</mat-label>
                    <select matNativeControl required>
                      <option value="pass">Pass</option>
                      <option value="fail">Fail </option>
                      <option value="conditional">Conditional </option>
                    </select>
                  </mat-form-field>
                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="large" appearance="fill">
                    <mat-label>QA Comment</mat-label>
                    <textarea matInput ></textarea>
                  </mat-form-field>
                </form>
              </td>
            </tr>
          </table>
          </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
