<p>Ang Mat IMRTQA!</p>
<mat-tab-group  (selectedTabChange) ="setPlansShown($event)" animationDuration="0ms">
  <mat-tab label="Main" >
    <ng-template mat-tab-label> <span class="my-custom-class">Main QA page</span></ng-template>
    <span class="myHeading"> Plans Needing QA {{ tabIndex }}</span>
  </mat-tab>
  <mat-tab label="Ready" >
    <ng-template mat-tab-label>
       <span class="my-custom-class">Ready For QA {{ tabIndex }} </span></ng-template>
    test
  </mat-tab>
  <mat-tab label="DosimComplete" >
    <ng-template mat-tab-label> <span class="my-custom-class">Dosimetry Complete</span></ng-template>
    test
  </mat-tab>

  <mat-tab label="White Board Home">Content 3</mat-tab>
</mat-tab-group>


<div *ngIf = "allPlans">

<mat-accordion *ngFor = "let aPlan of allPlans; let j = index" >  
  <span> plans Starting on </span>
  <mat-expansion-panel *ngFor="let plan of aPlan; let i = index" hideToggle [ngClass]="plan['bgClass']" >
      <mat-expansion-panel-header> Plans Starting on 
        <mat-panel-title>
          <span class="pBold"> {{ plan['UnitNumber']}} {{ plan['bgClass']}}</span>
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

  <div *ngIf = "allPlans">
    test
    <div *ngFor = "let tCase of allPlans">
      one
    </div> 
  </div>