<p>Ang Mat IMRTQA!</p>
<mat-tab-group  (selectedTabChange) ="mainQA($event)" animationDuration="0ms">
  <mat-tab label="Main QA Page" >
    <ng-template mat-tab-label> <span class="my-custom-class">Plans Needing QA </span></ng-template>
    test
  </mat-tab>
  <mat-tab label="Ready For QA">Plans Ready For QA</mat-tab>
  <mat-tab label="QA Completed">Content 3</mat-tab>
  <mat-tab label="Dosimetry Complete" >Content 1</mat-tab>
  <mat-tab label="Update">Content 2</mat-tab>
  <mat-tab label="White Board Home">Content 3</mat-tab>
</mat-tab-group>


<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>